@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #ffffff;
  --background-color: #95a6b1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255, 255, 255;
    --background-color: #95a6b1;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
